<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
$(document).ready(function(){
	chart();
});

function chart(){
	var id="[[${session.loginadmin.aid}]]";
	$.ajax({
		url:'[[@{/genderratio}]]',
		data:{
			'id':id
			},
		success:function(data){
			gender_ratio(data);
		}
	}); 
	$.ajax({
		url:'[[@{/newcust}]]',
		data:{
			'id':id
			},
		success:function(data){
			new_cust(data);
		}
	}); 
	$.ajax({
		url:'[[@{/myprofit}]]',
		data:{
			'id':id
			},
		success:function(data){
			my_profit(data);
		}
	}); 
}

function my_profit(data){
	Highcharts.chart('my_profit', {
	    chart: {
	        type: 'line'
	    },
	    title: {
	        text: '월별 매출'
	    },
	    xAxis: {
	        categories: data['date']
	    },
	    yAxis: {
	        title: {
	            text: '매출액'
	        }
	    },
	    plotOptions: {
	        line: {
	            dataLabels: {
	                enabled: true
	            },
	            enableMouseTracking: false
	        }
	    },
	    series: data['result']
	});

}
function new_cust(data){
	Highcharts.chart('new_cust_table', {
	    chart: {
	        type: 'line'
	    },
	    title: {
	        text: '신규 고객'
	    },
	    xAxis: {
	        categories: data["date"]
	    },
	    yAxis: {
	        title: {
	            text: 'New Customer'
	        }
	    },
	    plotOptions: {
	        line: {
	            dataLabels: {
	                enabled: true
	            },
	            enableMouseTracking: false
	        }
	    },
	    series: data["result"]
	});

}
function gender_ratio(data){
	Highcharts.chart('gender_ratio_table', {
	    chart: {
	        type: 'column'
	    },
	    title: {
	        text: '연령대 별 성비 '
	    },
	    subtitle: {
	        text: 'Source: WorldClimate.com'
	    },
	    xAxis: {
	        categories: [
	            'Jan',
	            'Feb',
	            'Mar',
	            'Apr',
	            'May',
	            'Jun',
	            'Jul',
	            'Aug',
	            'Sep',
	            'Oct',
	            'Nov',
	            'Dec'
	        ],
	        crosshair: true
	    },
	    yAxis: {
	        min: 0,
	        title: {
	            text: 'Rainfall (mm)'
	        }
	    },
	    tooltip: {
	        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
	        footerFormat: '</table>',
	        shared: true,
	        useHTML: true
	    },
	    plotOptions: {
	        column: {
	            pointPadding: 0.2,
	            borderWidth: 0
	        }
	    },
	    series: [{
	        name: 'Tokyo',
	        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4,
	            194.1, 95.6, 54.4]

	    }, {
	        name: 'New York',
	        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5,
	            106.6, 92.3]

	    }, {
	        name: 'London',
	        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3,
	            51.2]

	    }, {
	        name: 'Berlin',
	        data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8,
	            51.1]

	    }]
	});
}
</script>
</head>
<body>
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                  	<div class="row mtbox">
                  		<div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                  			<div class="box1">
					  			<span class="li_heart"></span>
					  			<h3>933</h3>
                  			</div>
					  			<p>933 People liked your page the last 24hs. Whoohoo!</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_cloud"></span>
					  			<h3>+48</h3>
                  			</div>
					  			<p>48 New files were added in your cloud storage.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_stack"></span>
					  			<h3>23</h3>
                  			</div>
					  			<p>You have 23 unread messages in your inbox.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_news"></span>
					  			<h3>+10</h3>
                  			</div>
					  			<p>More than 10 news were added in your reader.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_data"></span>
					  			<h3>OK!</h3>
                  			</div>
					  			<p>Your server is working perfectly. Relax & enjoy.</p>
                  		</div>
                  	
                  	</div><!-- /row mt -->	
                  
                      
                      <div class="row mt">
						
						<div class="col-md-6 col-sm-6 mb">
							<!-- REVENUE PANEL -->
							<div class="darkblue-panel pn">
								<div id="new_cust_table"></div>
							</div>
						</div><!-- /col-md-4 -->
						<div class="col-md-6 col-sm-6 mb">
							<!-- REVENUE PANEL -->
							<div class="darkblue-panel pn">
								<div id="my_profit"></div>
							</div>
						</div><!-- /col-md-4 -->
                      <!-- SERVER STATUS PANELS -->
                    </div><!-- /row -->
					<br><br><br>
					<div class="row mt">
                      <!--CUSTOM CHART START -->
                      <div class="border-head">
                          <h3>Gender Ratio</h3>
                      </div>
                      <div>
                      	<div id="gender_ratio_table"></div>
                      </div>
                      <!--custom chart end-->
					</div>
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  <!-- 15개  -->
                  <div class="col-lg-3 ds">
						<h3>스케줄</h3>
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>2 Minutes Ago</muted><br/>
                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                      		</p>
                      	</div>
                      </div>
                        <!-- CALENDAR-->
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->
                      
                  </div><!-- /col-lg-3 -->
              </div><! --/row -->
          </section>
      </section>
</body>
</html>