<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <body>
 
    
    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a th:href="@{/index}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">FacilityDetail</h1>
          </div>
        </div>
      </div>
    </section>
    
    
    
      <section class="ftco-section ftco-degree-bg">>

       
          
       
			<div class="container">
				<div class="col-md-10 order-md-last ftco-animate"  th:each="fd:${facilitydetail}" >
				<div class="property-wrap ftco-animate">
         			<a th:href="@{/facilitydetail(facilityid=${fd.facilityid})}"class="img" th:style="'background-image: url('+@{images/}+${fd.facilityimg}+@{.jpg}+');'"></a>
					<div class="col-md-10 order-md-last ftco-animate">
	         		<div class="heading-section p-md-5">
	         		<div class="facility_name" th:text="${fd.facilityname}"> </div>
        			<div class="facility_number" th:text="${fd.facilitynumber}"> </div>	            
	           </div>
			   </div>
			   </div>
			   </div>
			   </div>
		  </section>


   

  </body>
</html>
