 <div class="container">
        <div class="row">
        	<div class="col-md-4" th:each="fl:${list}" id="facilitylist">
        		<div class="property-wrap ftco-animate">
         			<a th:href="@{/facilitydetail(facilityid=${fl.facilityid})}"class="img" th:style="'background-image: url('+@{fimages/}+${fl.facilityimg}+@{.jpg}+');'"></a> 
        			<div class="facility_name" th:text="${fl.facilityname}"> </div>
        			<div class="facility_number" th:text="${fl.facilitynumber}"> </div>
        			
        		</div>
        	</div>
        </div>
</div>
