<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<style>			    			 	    	
	                   
    </style>

<script>
var currentPage = 0;
var totalData = 0;
var limitPerPage = "[[${amount}]]";
var pageSize = 5;
var totalPages = 0;
var pageGroup = 0;
var last = 0;
var veryFirst = 1;
var veryLst = 0;
var first = 0;
var next = 0;
var prev = 0; 



function GetTarget(j){
	var cateid="[[${cate.cateid}]]";

	$.ajax({
		url:'/facility/facilitypage',
		data:{
			'pageNo':j,
			'cateid':cateid
		},
		method:'GET',
		success: function(result){
			$('#div_trainer_row').empty();
			$('#div_trainer_row').append(result);
			currentPage = j;
			totalData = "[[${totalData}]]";
			totalPages = Math.ceil(totalData / limitPerPage);
			pageGroup = Math.ceil(currentPage / pageSize);
			last = pageGroup * pageSize;
			veryLast = totalPages;

			calcPage(j);
			location.href='/facility?pageNo=' + j + '&cateid=' + cateid;
		}
	});
	history.pushState({
		data:'/facility/facilitypage',
		pageNo: j
	}, // state
	null, // title
	'/facility?pageNo=' + j + '&cateid=' + cateid); // url
}

	
	function paging(totalData, currentPage){
		
		totalData = "[[${totalData}]]";
		currentPage = "[[${currentPage}]]";
		totalPages = Math.ceil(totalData / limitPerPage);
		pageGroup = Math.ceil(currentPage / pageSize); 
		last = pageGroup * pageSize;
		veryLast = totalPages;
		
		calcPage(currentPage);
	}


	



	$(document).ready(function(){
	$('#search_btn2').click(function(){
		$('#search_form2').attr({
			method:'get',
			action:'[[@{/search}]]'
		});
		$('#search_form2').submit();
	});
	paging(totalData, currentPage);
	});

</script>
 
  <body>


    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a th:href="@{/index}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Properties <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Choose <br>Your Desired Home</h1>
          </div>
        </div>
      </div>
     
    </section>
		<section class="ftco-section">
    	<div class="col-md-2 sidebar ftco-animate">
 		<div class="sidebar-box">
			<form id="search_form2" action="#" class="search-form">
              <div class="form-group">
                <span id="search_btn2" class="icon icon-search"></span>
                 <input name="txt" type="text" class="form-control" placeholder="Type a keyword and hit enter">
              </div>
            </form>
          </div>
          <div class="sidebar-box ftco-animate" >

            <div class="categories">
              <h3>Categories</h3>
              <li><a th:href="@{/facility(cateid=10)}">HEALTH</a></li>
              <li><a th:href="@{/facility(cateid=20)}">PILATES</a></li>
              <li><a th:href="@{/facility(cateid=30)}">CROSSFIT</a></li>

            </div>

          </div>
          </div>
		<div id="div_trainer_row">
    		<div th:replace = "${facilitylist} ? ${facilitylist} : facilitylist"></div>
		</div>
		<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul id="pages">
							</ul>
						</div>
					</div>
				</div>
    </section>
  </body>
</html>