<meta charset="utf-8"> 

<script>
$(document).ready(function () {

	$('#update_btn').click(function() {
		var c = confirm('수정 하시겠습니까?');
		if(c == true){
			$('#cust_form').attr({
				'method':'post',
				'action': '[[@{/custupdateimpl}]]'
			});
		
			$('#cust_form').submit();
	   	}else{
		   return;
	   	}
		
	});
});


</script>

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a th:href="@{/index}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>MY PAGE<i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">내 정보 수정</h1>
          </div>
        </div>
      </div>
</section>

 
 <body>
      <section class="ftco-section ftco-degree-bg">
	    <div class="col-md-2 sidebar ftco-animate">
          <div class="sidebar-box ftco-animate" >
            <div class="categories">
              <h3>My Page 메뉴</h3> <!-- 메뉴 버튼 생성시 에러발생 확인 필요 -->
              <li><a th:href="@{/custdetail(id=${custupdate.custid})}">내 정보</a></li>
              <li><a th:href="@{/cust}">스케줄 관리</a></li>
              <li><a th:href="@{/custdelete(id=${custupdate.custid})}">회원 탈퇴하기</a></li>
            </div>
          </div>
          </div>
       
          
       
			<div class="container">
				<div class="col-md-50 order-md-last ftco-animate" style=text-align:center;>
				<div th:each="fd:${facilitydetail}">
				<div class="property-wrap ftco-animate">
			   </div>
					<div class="col-md-25 order-md-last ftco-animate"  style=text-align:center;>
        			<div id="map" style="width:100%;height:350px;"></div>
			   </div>
	           </div>
			   </div>
			   </div>
  </body>
zz