<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset='utf-8' />
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
    <script>
    function selectSchedules(data){
    	alert(data);
    }
    	document.addEventListener('DOMContentLoaded', function() {
        	var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            	
            	dateClick: function(info) {
            		var selectday=new Date(info.dateStr);
            		selectday=selectday.getFullYear() +
            		'-' + ( (selectday.getMonth()+1) <= 9 ? "0" + (selectday.getMonth()+1) : (selectday.getMonth()+1) )+
            		'-' + ( (selectday.getDate()) <= 9 ? "0" + (selectday.getDate()) : (selectday.getDate()) );
            		
            		
            		var today=new Date();
            		today= today.getFullYear() +
            		'-' + ( (today.getMonth()+1) <= 9 ? "0" + (today.getMonth()+1) : (today.getMonth()+1) )+
            		'-' + ( (today.getDate()) <= 9 ? "0" + (today.getDate()) : (today.getDate()) );
            		
            		
            		if(selectday<=today){
	            		alert("오늘 날짜 이 후로 선택해주세요.");
	            		return;
            		}
            		
            		$.ajax({
                        url:"/schedulelist",
                        data:{"selectday":selectday 
                      	  },
                        Type:"post",
                        success:function(data){
                        	//여기에 함수 넣어주면 되려나..? 데이터 받아와 밑에 시간선택 부분 바꿔야함
                        	selectSchedules(data);
                        }
                     });
            		
            	},
                // Tool Bar 목록 document : https://fullcalendar.io/docs/toolbar
                headerToolbar: {
                    right: 'prev,next',
                    center: 'title',
                    left:'today'
                    
                },
                
				// 테이블 속성
                selectable: true, // 날짜 선택 가능하게 하는 속성
                selectMirror: false,
                navLinks: false, // can click day/week names to navigate views
                editable: false, //날짜 여러개 선택 할 수 있는 속성
                dayMaxEvents: false, // allow "more" link when too many events
                // ------------------------------------
                
                // 이벤트 넣어주는 속성...근데 이걸 해줘야 되나 고민중.. 데이터를 다가져오면 나중에가면 데이터가 커질테니
                /* events: [
                    {
                    title: 'All Day Event',
                    start: '2022-07-01'
                    },
                    {
                    title: 'Long Event',
                    start: '2022-07-07',
                    end: '2022-07-10'
                    },
                    {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-07-09T16:00:00'
                    },
                    {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-07-16T16:00:00'
                    },
                    {
                    title: 'Conference',
                    start: '2022-07-11',
                    end: '2022-07-13'
                    },
                    {
                    title: 'Meeting',
                    start: '2022-07-12T10:30:00',
                    end: '2022-07-12T12:30:00'
                    },
                    {
                    title: 'Lunch',
                    start: '2022-07-12T12:00:00'
                    },
                    {
                    title: 'Meeting',
                    start: '2022-07-12T14:30:00'
                    },
                    {
                    title: 'Happy Hour',
                    start: '2022-07-12T17:30:00'
                    },
                    {
                    title: 'Dinner',
                    start: '2022-07-12T20:00:00'
                    },
                    {
                    title: 'Birthday Party',
                    start: '2022-07-13T07:00:00'
                    },
                    {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2022-07-28'
                    }
                ] */
            });

            calendar.render();
        });

    </script>
    
    <style>
    #u{
    	display:block;
    	background-color:rgb(255, 255, 128);
    	width:20px;
    	height:20px;
    }
    #un{
    	display:block;
    	background-color:rgb(192, 192, 192);
    	width:20px;
    	height:20px;
    }
    </style> 
  </head>
    <section>
	<br><br><br>
	<br>
    <div id='calendar' style="margin:auto;"></div>
    <br>
    <div style="margin:auto;">
    	<div align="center">
    		<a class="navbar-brand">시간 선택</a>
    	</div>
    	<ul style="list-style:none; margin-bottom:50px;">
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">09:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">10:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">11:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">12:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">13:00</button><br><br>
	    	</li>
	    </ul>
    	<ul style="list-style:none;">
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">14:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">15:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">16:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">17:00</button><br><br>
	    	</li>
	    </ul>
    	<ul style="list-style:none;">
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">18:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">19:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">20:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">21:00</button><br><br>
	    	</li>
	    </ul>
    	<ul style="list-style:none;">
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">22:00</button><br><br>
	    	</li>
    		<li style="float:left;">
	    		<button id="login_btn" style="width:150px; height:50px; background-color:rgb(255, 255, 128); margin-right:2px;margin-bottom:5px;">23:00</button><br><br>
	    	</li>
	    </ul>
    </div>
    <div style="float:left;">
    	<ul style="list-style:none;">
    		<li style="float:left;">
    			<span id="u"></span>
    		</li>
    		<li style="float:left;">
    			<span>가능 </span>
    		</li>
    		<li style="float:left;">
    			<span id="un"></span>
    		</li>
    		<li style="float:left;">
    			<span>불가능</span>
    		</li>
    	</ul>
    </div>
    </section>
  </body>
</html>