<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
<!-- iamport.payment.js -->

<style>
.card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

#insert_form {
	width: 80%;
}

#check {
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	margin-top: 20px;
}

#insertbt {
	display: flex;
	justify-content: center;
	align-items: center;
}

#order {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 60px;
}

#del {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 60px;
}
</style>

<script>  

		
  function requestPay() {
	  var IMP = window.IMP;
	  IMP.init('imp86716450');
	  IMP.request_pay({
		    pg : 'kakaopay',
		    pay_method : 'card', //생략 가능
		    merchant_uid: "[[${ordernum}]]", // 상점에서 관리하는 주문 번호
		    name : "[[${list.itemname}]]",
		    amount : "[[${list.itemprice}]]",
		    buyer_email : "[[${cust.email}]]",
		    buyer_name : '[[${cust.custname}]]',
		    buyer_tel : "[[${cust.contact}]]",
		    buyer_addr : "[[${cust.addr}]]",
		}, function(rsp) { // callback 로직
			//* ...중략 (README 파일에서 상세 샘플코드를 확인하세요)... *//
            if (rsp.success) {
						console.log(rsp);
		                var msg = '결제가 완료되었습니다.';
		                msg += '고유ID : ' + rsp.imp_uid;
		                msg += '상점 거래ID : ' + rsp.merchant_uid;
		                msg += '결제 금액 : ' + rsp.paid_amount;
		                msg += '카드 승인번호 : ' + rsp.apply_num;

		              	var itemid="[[${list.itemid}]]";
		               	var instructorid="[[${in.instructorid}]]";
		              	var custid="[[${session.logincust.custid}]]";
		              	var facilityid="[[${facilityid}]]"
		  $.ajax({
				url:'[[@{/order}]]', //아작스로 아이디를 사용가능한지 보는 기능
				data:{
					'custid':custid,
					'itemid':itemid,
					'instructorid':instructorid,
					'facilityid':facilityid
					}, //cid이름으로id데이터전달한다
				success:function(){
	              	var custid="[[${session.logincust.custid}]]";
	              	location.href = '[[@{/mypage?id=}]]' + custid;
				}
			});
            alert(msg);
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            	alert(msg);
                return;
            }
		});
	  
  	}
</script>
	
<head>

</head>
<body>
			<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
		style="background-image: url(https://contents.sixshop.com/thumbnails/uploadedFiles/110203/default/image_1658130845162_2500.jpeg);"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs">
						<span class="mr-2"><a th:href="@{/index}">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>Properties <i
							class="ion-ios-arrow-forward"></i></span>
					</p>
					<h1 class="mb-3 bread">
						Item list <br>Your Desired Home
					</h1>
				</div>
			</div>
		</div>
	</section>

<!-- 주문/결제 -->
<div class="card-body">
	<div class="login-card">
		<h3>주문&배송 정보</h3>
		<form id="insert_form" th:each="o:${list}">
				<div>
					<label>고객아이디 : </label><input type="text" name="custid"
						th:value="${session.logincust.custid}" readonly="readonly" class="form-control round-form">
				</div>
				<div>
					<label>상품명 : </label><input type="text" name="itemname" id="itemname"
						th:value="${o.itemname}" readonly="readonly" class="form-control round-form">
				</div>
				<div>
				<input type="hidden" name="itemid" th:value="${o.itemid}" id="itemid" class="form-control round-form"> 
				</div>

				<div>
					<label>횟수 : </label><input type="text" name="counting" id="counting"
						th:value="${o.counting}" readonly="readonly" class="form-control round-form">
				</div>
				
				<div>
					<label>상품가격 : </label><input type="text" name="itemprice" id="itemprice"
						th:value="${o.itemprice + '원'}" readonly="readonly" class="form-control round-form">
				</div>
				
				<div th:if="${o.instructorid != 0 }">
					<label>강사선택 : </label><select class="form-control round-form" id="sel1">
					<option th:each="in:${in}" th:text="${in.instructorname}" name ="instructor_name">
					</option>					
					</select>
				</div>
				
				<div th:if="${o.instructorid == 0}">
					<label>강사선택 : </label><input type="" class="form-control round-form" id="sel1" readonly="readonly">							
				</div>
				<br> <br>
			<p id="check">주문 내용을 확인하였으며, 정보 제공 등에 동의합니다.</p>
			<br>
		</form>
		<div id="insertbt" style="padding:0% 20% 10% 0% " >
			<button onclick="requestPay()" style="margin:auto;">카카오페이로 결제하기</button>
		</div>
	</div>
</div>
</body>
</html>