<!DOCTYPE html>
<head>
<meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">

<script>
function modal(){
	$('#testModal').modal();
};

$(document).ready(function(){

	var status = "[[${status}]]";
	
	if(status=="0"){
		modal();
	}
	
	$('#login_btn').click(function(){
		 $('#login_form').attr(
			{
				'action':'/loginimpl',
				'method':'post'
			}		 
		);	
		$('#login_form').submit();
		
		
	});

});
</script>
<!-- kakko login test -->
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

<script>

window.Kakao.init('f4363fcc8b7b65aa79629e4cb5604c80');
        
function kakaologin() {
    Kakao.Auth.login({
      scope: 'profile_nickname,account_email,gender,birthday',
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
              $.ajax({
                  url:"/kakkologin",
                  data:{"id":response.id, 
                	  "kakko_account":response.kakao_account,
                	  "name":JSON.stringify(response.properties.nickname),
                	  "email":JSON.stringify(response.kakao_account.email),
                	  "gender":JSON.stringify(response.kakao_account.gender),
                	  "birthday":JSON.stringify(response.kakao_account.birthday)
                	  },
                  Type:"post",
                  success:function(data){
                      //성공적으로 하고나면 이동할 url
                      location.href="/";  
                  }
                  
               });
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
 }
const login = document.querySelector('#kakaologin');
login.addEventListener('click', kakaoLogin);

</script>

</head>

<body>
     <!-- 모달 -->
	<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">

					</button>

				</div>
				<div class="modal-body">ID또는비밀번호가 일치하지않습니다. 다시 시도해주세요.</div>
				<div class="modal-footer">
					<button class="btn" type="button" data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	<br><br><br>
   <!-- Contact Form -->
   <br><br><br>
   <div align="center">
   		<a class="navbar-brand"   style="margin:auto; text-align:center;">LogIn</a>
   </div>
   <br>
<div class="comment-form-wrap pt-2" style="margin:auto; text-align:center; width:700px;">
	<form class="p-1 bg-light" id="login_form">
	<br><br>
	  <div class="form-group">
	    <label for="id">ID : </label>
	    <input type="text" class="form-control" id="id" placeholder="Enter id" name="id">
	  </div>
	  <br>
	  <div class="form-group">
	    <label for="pwd">PASSWORD : </label>
	    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" style="color: black">
	  </div>
	 <button class="btn py-3 px-4 btn-primary" id="login_btn" style="width:150px; height:50px;">LOGIN</button><br><br>
	</form>   
	<form class="p-1 bg-light" id="register_form">
     <button class="btn py-3 px-4 btn-primary" style="width:150px; height:50px;"><a th:href="@{/register}" onclick="location.href='register.html'" id="register_btn" style="color: white">REGISTER</a></button>
     </form> 
	<form class="p-1 bg-light" id="kakkologin_form">
	<br>
		<a id="kakao-login-btn" href="javascript:kakaologin()">
  			<img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222" alt="카카오 로그인 버튼" style="width:150px; height:50px;">
		</a>
		<p id="token-result"></p>
	</form>
</div>

<br><br><br><br><br><br>

</body>
