<script>
$(document).ready(function(){
	$('#search_btn').click(function(){
		$('#search_form').attr({
			method:'get',
			action:'[[@{/search}]]'
		});
		$('#search_form').submit();
	});
});
$(document).ready(function(){
function enterkey() {
    if (window.event.keyCode == 13) {
    	$('#search_form').submit();
    }
}
});

</script>





    
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
          <div class="col-lg-30 col-md-15 ftco-animate d-flex align-items-end">
          	<div class="text text-center">
	            
	           
	            <form action="#" id="search_form" class="search-location mt-md-5">
		        		<div class="row justify-content-center">
		        			<div class="col-lg-20 align-items-end">
		        				<div class="form-group">
		          				<div class="form-field">
				                <input name="txt" type="text" class="form-control" placeholder="Search" required="required" onkeyup="enterkey();">
				                <button id="search_btn" class="search_button" type="button"><span class="ion-ios-search"></span></button>
				              </div>
			              </div>
		        			</div>
		        		</div>
		        	</form>
            </div>
          </div>
        </div>
      </div>
      <div class="mouse">
				<a href="#" class="mouse-icon">
					<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
				</a>
			</div>
    </div>



