<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<style>
</style>
<script>

$(document).ready(function () {

	$('#update_btn').click(function() {
		var c = confirm('수정 하시겠습니까?');
		if(c == true){
			$('#instructor_form').attr({
				'enctype':'multipart/form-data',
				'method':'post',
				'action': '[[@{/instructorupdate}]]'
			});

			$('#instructor_form').submit();
			if (true){
				var d = confirm('수정이 완료되었습니다.');	
			}
			else var d = confirm('다시 수정해주세요');
	   	}else{
		   return;
	   	}

	});
});


</script>
<body>
	<section id="main-content">
		<section class="wrapper">
		<h3><i class="fa fa-angle-right"></i> 강사 정보 수정</h3>
		      	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Form Elements</h4>
					<form class="form-horizontal style-form" id="instructor_form" th:each="i:${ins}">
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">시설번호:</label> 
							<div class="col-sm-10">
							<input type="text" class="form-control round-form" th:value="${i.facilityid}" id="facilityid" name="facilityid"> <span id="ispan"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">아이디:</label> 
							<div class="col-sm-10">
							<input type="text" class="form-control round-form" th:value="${i.instructorid}" id="instructorid" name="instructorid" readonly=readonly> <span id="ispan"></span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">이름:</label> <div class="col-sm-10"><input type="text"
								readonly=readonly class="form-control round-form"
								th:value="${i.instructorname}" id="instructorname"
								name="instructorname"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">전화번호:</label> <div class="col-sm-10"><input type="text"
								class="form-control round-form" th:value="${i.instructorphone}"
								id="instructorphone" name="instructorphone">
								</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">이메일 주소:</label> <div class="col-sm-10">
							<input type="text"
								class="form-control round-form" th:value="${i.instructoremail}"
								id="instructoremail" name="instructoremail">
								</div>
						</div>
				<div class="form-group" >
					<label class="col-sm-2 col-sm-2 control-label">종목선택 : </label>
					<div class="col-sm-10">
					<select class="form-control round-form" id="instructorcon" name ="instructorcon">
					<option th:text="PT" ></option>
					<option th:text="필라테스"></option>			
					<option th:text="크로스핏"></option>			
					</select>		
					</div>
				</div>
         	  <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">사진:</label>
                    <div class="col-sm-10">
                             <input type="file" class="form-control round-form" id="img1" name="img1" >
                    </div>
             </div>				
			</form>				
					<button id="update_btn" class="btn btn-default">UPDATE</button>

			</div>
			</div>
			</div>
		</section>
	</section>
</body>
</html>
