<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.AdminMapper">
	
	<select id="select" parameterType="String" resultType="AdminDTO">
		SELECT * FROM admin WHERE aid=#{aid}
	</select>
	
<!-- 	<select id="selectkakkoid" parameterType="String" resultType="AdminDTO">
		SELECT * FROM admin WHERE kakkoid=#{kakkoid}
	</select> -->

	<select id="selectAll" resultType="AdminDTO">
		SELECT * FROM admin
	</select>

	<update id="update" parameterType="AdminDTO">
		UPDATE admin SET apwd=#{apwd},aname=#{aname},acontact=#{acontact},aemail=#{aemail},grade=#{grade}<!-- ,kakkoid=#{kakkoid}  -->
		WHERE aid=#{aid}
	</update>
 
	<insert id="insert" parameterType="AdminDTO">
		INSERT INTO admin VALUES (#{aid},#{apwd},#{aname},#{acontact},#{aemail},#{grade},#{facilityid},#{instructorid})<!-- ,#{kakkoid}) -->
	</insert>
	
	<delete id="delete" parameterType="AdminDTO">
		DELETE FROM admin WHERE aid=#{aid}
	</delete>
	
	<select id="myprofit" resultType="AdminDTO">
		SELECT b.odate , SUM(b.itemprice) profit FROM (SELECT DATE_FORMAT(o.odate,'%Y-%m') as odate , i.itemprice FROM admin a
		INNER JOIN facility f ON a.facilityid=f.facilityid
		INNER JOIN orders o ON f.facilityid=o.facilityid
		INNER JOIN item i ON i.itemid=o.itemid
		WHERE aid=#{aid}) b
		GROUP BY odate
		ORDER BY odate 
		LIMIT 10;
	</select>
	
	<select id="newcust" resultType="AdminDTO">
		SELECT plz.odate , COUNT(*) cust_count FROM (SELECT DATE_FORMAT(o.odate,'%Y-%m') as odate FROM admin a
		INNER JOIN facility f ON a.facilityid=f.facilityid
		INNER JOIN orders o ON f.facilityid=o.facilityid
		WHERE aid=#{aid}) plz
        GROUP BY plz.odate
        ORDER BY plz.odate
        LIMIT 10;
	</select>
	
	<select id="insnewcust" resultType="AdminDTO">
		SELECT b.odate , COUNT(*) cust_count FROM(SELECT DATE_FORMAT(o.odate,'%Y-%m') as odate FROM admin a
		INNER JOIN orders o ON o.instructorid=a.instructorid
		WHERE o.instructorid=#{instructorid}) b
		GROUP BY b.odate
		ORDER BY b.odate 
		LIMIT 10;
	</select>
	
	<select id="genderratio" resultType="AdminDTO">
		SELECT (CASE
		WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 59 THEN '60대 이상'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 49 THEN '50대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 39 THEN '40대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 29 THEN '30대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 19 THEN '20대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 09 THEN '10대'
       END) AS age_group, c.gender AS gender
        FROM admin a
		INNER JOIN facility f ON a.facilityid=f.facilityid
		INNER JOIN orders o ON f.facilityid=o.facilityid
        INNER JOIN cust c ON o.custid=c.custid
		WHERE aid=#{aid}
        ORDER BY o.odate DESC;
	</select>
	<select id="insgenderratio" resultType="AdminDTO">
		SELECT (CASE
		WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 59 THEN '60대 이상'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 49 THEN '50대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 39 THEN '40대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 29 THEN '30대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 19 THEN '20대'
        WHEN (DATE_FORMAT(NOW(),'%Y')-DATE_FORMAT(c.birth,'%Y')+1) > 09 THEN '10대'
       END) AS age_group, c.gender AS gender
         FROM admin a
		INNER JOIN facility f ON a.facilityid=f.facilityid
		INNER JOIN orders o ON f.facilityid=o.facilityid
        inner join instructor i on i.instructorid=o.instructorid 
        INNER JOIN cust c ON o.custid=c.custid
		WHERE o.instructorid=#{instructorid}
        ORDER BY o.odate DESC;
	</select>
	
</mapper>