<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CateMapper">
	
	<select id="select" parameterType="Integer" resultType="CateDTO">
		SELECT * FROM cate WHERE cateid=#{cateid}
	</select>

	<select id="selectAll" resultType="CateDTO">
		SELECT * FROM cate
	</select>
	
	<select id="viewCateName" parameterType="Integer" resultType="CateDTO">
	SELECT type,cateid FROM cate
	WHERE cateid = (SELECT ca.cateid FROM cate ca
	INNER JOIN facility f ON ca.cateid = f.cateid
	WHERE facilityid = #{facilityid})
	</select>

	<update id="update" parameterType="CateDTO">
		UPDATE cate SET type=#{type} WHERE cateid=#{cateid}
	</update>
 
	<insert id="insert" parameterType="CateDTO">
		INSERT INTO cate VALUES (#{cateid},#{type})
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM cate WHERE cateid=#{cateid}
	</delete>
</mapper>