<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CustbodyMapper">
	
	<select id="select" parameterType="Integer" resultType="CustbodyDTO">
		SELECT * FROM custbody WHERE bodyinfoid=#{bodyinfoid}
	</select>

	<select id="custbodylatest" resultType="CustbodyDTO">
		SELECT * FROM (SELECT bdate,bodyfat,muscle,weight FROM custbody
			WHERE custid=#{custid}
			ORDER BY bdate desc
			LIMIT 10) sb
		ORDER BY sb.bdate
	</select>

	<update id="update" parameterType="CustbodyDTO">
		UPDATE custbody SET bodyinfoid=#{bodyinfoid}, custid=#{custid}, sysdate(),
		height=#{height}, bodyfat=#{bodyfat}, muscle=#{muscle}, weight=#{weight}
		WHERE bodyinfoid=#{bodyinfoid}
	</update>

	<insert id="insert" parameterType="CustbodyDTO">
		INSERT INTO custbody VALUES (#{bodyinfoid},#{custid},NOW(),#{height},#{bodyfat},#{muscle},#{weight})
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE bodyinfoid=#{bodyinfoid}
	</delete>
</mapper>