<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.ItemMapper">

 	<select id="selectItemList" parameterType="Integer" resultType="itemDTO">
		SELECT * FROM item WHERE instructorid = #{instructorid}
	</select>
	
	<select id="itemList" parameterType="Integer" resultType="itemDTO">
		SELECT * FROM facility f
		INNER JOIN item i ON f.facilityid = i.facilityid
		INNER JOIN cate c ON f.cateid = c.cateid
		WHERE c.cateid = #{cateid} and i.instructorid != "0"
	</select>
	
 	<select id="selectfacilityList" parameterType="Integer" resultType="itemDTO">
		SELECT * FROM item WHERE facilityid = #{facilityid} and instructorid = "0"
	</select>
	
	<select id="select" parameterType="Integer" resultType="itemDTO">
		SELECT * FROM item 
		WHERE itemid=#{itemid}
	</select>
	<select id="selectAll" resultType="itemDTO">
		SELECT * FROM item
	</select>

	<insert id="insert" parameterType="ItemDTO">
		INSERT INTO item VALUES (NULL, #{facilityid}, #{itemname}, #{itemimg}, #{counting}, #{period},
		#{itemprice}, #{itemstate}	)
	</insert>

	<update id="update" parameterType="ItemDTO">
		UPDATE item SET facilityid=#{facilityid}, itemname=#{itemname}, itemimg=#{itemimg}, counting=#{counting},
		period=#{period}, itemprice=#{itemprice}, itemstate=#{itemstate}
		WHERE itemid=#{itemid}
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE FROM item WHERE itemid=#{itemid}
	</delete>

</mapper>