<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.ItemMapper">

<!-- 
	<select id="selectall1" parameterType="Integer"
		resultType="itemDTO">
		SELECT c.cateid, i.facilityid, i.instructorid, i.counting, i.period, i.itemprice,  i.itemname,
		i.itemprice, i.itemstate
		FROM item AS i
		INNER JOIN facility AS f ON f.facilityid = i.facilityid
		INNER JOIN cate AS c ON f.cateid = c.cateid
		WHERE c.cateid=#{cateid}
	</select>

	<select id="selectallcate" parameterType="Integer"
		resultType="itemDTO">
		SELECT i.itemname,i.itemimg, i.itemno FROM item AS i
		INNER
		JOIN cate AS c ON c.cateno=i.cateno
		WHERE i.cateno=#{cateno}
	</select> -->


	<select id="select" parameterType="Integer" resultType="itemDTO">
		SELECT * FROM item 
		WHERE itemid=#{itemid}
	</select>
	<select id="selectAll" resultType="itemDTO">
		SELECT * FROM item
	</select>

	<insert id="insert" parameterType="ItemDTO">
		INSERT INTO item VALUES (NULL, #{facilityid}, #{instructorid}, #{itemname}, #{itemimg}, #{counting}, #{period},
		#{itemprice}, #{itemstate}	)
	</insert>

	<update id="update" parameterType="ItemDTO">
		UPDATE item SET facilityid=#{facilityid}, instructorid=#{instructorid}, itemname=#{itemname}, itemimg=#{itemimg}, counting=#{counting},
		period=#{period}, itemprice=#{itemprice}, itemstate=#{itemstate}
		WHERE itemid=#{itemid}
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE FROM item WHERE itemid=#{itemid}
	</delete>

</mapper>