<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.OrdersMapper">
	
	<insert id="insert" parameterType="OrdersDTO">
		INSERT INTO orders VALUES (NULL, #{itemid}, #{custid}, #{instructorid}, NOW())
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM orders WHERE orderid=#{orderid}
	</delete>
	<update id="update" parameterType="OrdersDTO">
		UPDATE orders SET itemid=#{itemid}, custid=#{custid}, instructorid=#{instructorid}, odate=NOW()
		WHERE orderid=#{orderid}
	</update> 
	<select id="selectAll" resultType="OrdersDTO">
		SELECT * FROM orders
	</select>
	<select id="select" parameterType="Integer" resultType="OrdersDTO">
		SELECT * FROM orders WHERE orderid = #{orderid}
	</select>
	
	<select id="orderall" parameterType="String" resultType="OrdersDTO">
		SELECT o.orderid as orderid, it.itemname as item_name, o.odate as odate, it.itemprice as item_price, it.counting as counting, it.period as period,ins.instructorid as instructorid, ins.instructorname as instructor_name 
		FROM item it
		INNER JOIN orders as o ON it.itemid=o.itemid
		LEFT OUTER JOIN instructor ins ON ins.instructorid=o.instructorid
		WHERE o.custid = #{custid}
	</select>
	
		<select id="mymembership" parameterType="String" resultType="OrdersDTO">
		SELECT f.facilityname as facility_name, ins.instructorname as instructor_name, i.itemname as item_name, i.counting as counting , i.period as period, o.custid as custid ,ins.instructorid as instructorid FROM orders o
		INNER JOIN item i ON i.itemid=o.itemid
		LEFT OUTER JOIN instructor ins ON ins.instructorid=o.instructorid
		INNER JOIN facility f ON f.facilityid=i.facilityid
		WHERE custid=#{custid}
	</select>
</mapper>
