<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.SchedulesMapper">
	<insert id="insert" parameterType="SchedulesDTO">
		INSERT INTO schedules VALUES (NULL, #{instructorid}, #{custid},#{starttime},DATE_ADD(#{starttime},INTERVAL 1 HOUR),"예약 진행 중")
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM schedules WHERE schedulesid=#{schedulesid}
	</delete>
	<update id="update" parameterType="SchedulesDTO">
		UPDATE schedules SET instructorid=#{instructorid}, custid=#{custid},starttime=#{starttime}, endtime=DATE_ADD(NOW(),INTERVAL #{period} MONTH)
		WHERE schedulesid=#{schedulesid}
	</update> 
	<select id="selectAll" resultType="SchedulesDTO">
		SELECT * FROM schedules
	</select>
	<select id="select" parameterType="Integer" resultType="SchedulesDTO">
		SELECT * FROM schedules WHERE schedulesid = #{schedulesid}
	</select>
	<select id="selectday" parameterType="String" resultType="SchedulesDTO">
		SELECT * FROM schedules 
		WHERE starttime like #{selectday}"%"
		AND instructorid=#{insid}
	</select>
	
	<select id="myschedulsestatus" parameterType="String" resultType="SchedulesDTO">
		SELECT f.facilityname , ins.instructorname , i.itemname , i.counting ,ins.instructorid ,o.custid,s.status,DATE_FORMAT(s.starttime,'%Y-%m-%d %H:%i') as time FROM orders o
		INNER JOIN item i ON i.itemid=o.itemid
		INNER JOIN instructor ins ON ins.instructorid=o.instructorid 
		INNER JOIN facility f ON f.facilityid=i.facilityid
		INNER JOIN schedules s ON ins.instructorid=s.instructorid
		WHERE o.custid=#{custid}
		AND s.starttime>NOW();
	</select>
</mapper>
