<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.SchedulesMapper">
	<insert id="insert" parameterType="SchedulesDTO">
		INSERT INTO schedules VALUES (NULL, #{instructorid}, #{custid},#{starttime},DATE_ADD(NOW(),INTERVAL #{period} MONTH))
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM schedules WHERE schedulesid=#{schedulesid}
	</delete>
	<update id="update" parameterType="SchedulesDTO">
		UPDATE schedules SET instructorid=#{instructorid}, custid=#{custid},starttime=#{starttime}, endtime=DATE_ADD(NOW(),INTERVAL #{period} MONTH)
		WHERE schedulesid=#{schedulesid}
	</update> 
	<select id="selectAll" resultType="SchedulesDTO">
		SELECT * FROM schedules
	</select>
	<select id="select" parameterType="Integer" resultType="SchedulesDTO">
		SELECT * FROM schedules WHERE schedulesid = #{schedulesid}
	</select>
	<select id="selectday" parameterType="String" resultType="SchedulesDTO">
		SELECT * FROM schedules WHERE starttime like #{selectday}"%"
	</select>
</mapper>
