<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.VisitMapper">
	
	<insert id="insert" parameterType="VisitDTO">
		INSERT INTO visit VALUES (NULL, #{count}, NOW())
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM visit WHERE visitid=#{visitid}
	</delete>
	<update id="update" parameterType="VisitDTO">
		UPDATE visit SET count=#{count}, vdate=NOW()
		WHERE visitid=#{visitid}
	</update> 
	<select id="selectAll" resultType="VisitDTO">
		SELECT * FROM visit
	</select>
	<select id="select" parameterType="Integer" resultType="VisitDTO">
		SELECT * FROM visit WHERE visitid = #{visitid}
	</select>
	
</mapper>
